<html ng-app="SQL Explorer">
  <head>
    <title>Answers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Search</h1>
    <form method="GET" action="/">
      <h2>Product</h2>
      {% if products==None %}
      <input type="text" name="products">
      {% else %}
      <input type="text" name="products" value="{{products}}">
      {% endif %}
      <h2>Category</h2>
      {% if products==None %}
      <input type="text" name="categories">
      {% else %}
      <input type="text" name="categories" value="{{categories}}">
      {% endif %}
      <br/>
      <h2>Platform</h2>
      {% if products==None %}
      <input type="text" name="platforms">
      {% else %}
      <input type="text" name="platforms" value="{{platforms}}">
      {% endif %}
      <br/>
      <input type="submit" value="Search" type="GET">
    </form>
    {% for table in tables%}
      {{table}}
      <hr/>
    {% endfor %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
